<nav>
    <ul class="clearfix">
        <li class="selected"><%=link_to("Training", trainings_path)%></li>
        <li><%=link_to("Add New", trainings_path)%></li>
        <li><%=link_to("Points", trainings_path)%></li>
    </ul>   
</nav>