<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Up To Speed</title>
    <%= stylesheet_link_tag :all %>
    <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0"/>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
</head>
<body>
    <%= yield %>
</body>
</html>
